*{
    box-sizing: border-box;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eddcd2;
}


img{
    display: block;
    width: 320px;
    padding-top: 10px;
}



ul{
    padding-left: 0;
    list-style: none;
    text-align: center;
   
}

li{
    padding: 3px;
}


li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}


button{
    color: black;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: yellow;
    margin-bottom: 20px;
}


#firstsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid red;
    background-color: #eddcd2;
}

#firstsection h1{
    font-size: 27px ;
}

#email{
    display: block;
    margin-bottom: 15px;
    width: 300px;
}

#secondsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid green;
    background-color: #eddcd2;
}

#secondsection p{
    font-size: 18px;
}

#thirdsection {
    display: flex;
   flex-direction: column;
   align-items: center;
   width:300px ;

   
}




.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }






