*{
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eddcd2;
}


img{
    display: block;
    width: 400px;
}



ul{
    list-style: none;
   
}


li a{
    text-decoration: none;
    color: black;
}