*{
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eddcd2;
}


img{
    display: block;
    width: 350px;
    padding-top: 10px;
}



ul{
    list-style: none;
    text-align: center;
   
}

li{
    padding: 3px;
}


li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}